@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Space+Mono&display=swap");

@font-face {
    font-family: "KosefontJP";
    font-weight: normal;
    src: url("/assets/fonts/KosefontJPNerdFont-Regular.ttf");
}

:root {
    --color-bg: #131718;
    --color-fg: #CCCCCC;
    --color-red: #df5b61;
    --color-green: #87c7a1;
    --color-orange: #de8f78;
    --color-blue: #6791c9;
    --color-violet: #bc83e3;
    --color-cyan: #70b9cc;
}

*,
::before,
::after {
    box-sizing: border-box;
    font-family: "KosefontJP", "Space Mono", "Fredoka";
    scroll-behavior: smooth;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    line-height: 1.7em;
}

img {
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    background-color: var(--color-bg);
    color: var(--color-fg);
    padding: 0.5rem;
    font-size: 0.8rem;
    outline: none;
    border: none;
    border-radius: 0.1rem;
}

button:hover,
button.active {
    background-color: var(--color-blue);
    color: var(--color-bg);
    font-weight: bolder;
}

button:active {
    background-color: var(--color-red);
    border: none;
}

button:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

::-webkit-scrollbar-track {
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.1rem;
    background-color: var(--color-blue);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-green);
}

body {
    color: var(--color-fg);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: clamp(14px, 1.8vw, 16px);
}

h1 {
    color: var(--color-blue);
    text-shadow: 0.2rem 0.2rem 0rem var(--color-fg);
    text-align: center;
    width: calc(100% - 0.5rem * 3);
    font-size: 3.5rem;
    font-family: "Fredoka";
    font-weight: bolder;
}

h2 {
    font-family: "Fredoka";
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.7rem;
    text-shadow: 0.0rem 0.1rem 0.2rem var(--color-blue);
}
